^ContentPage {
    background-color: #4E57AC;
}

^Label {
    text-align: left;
    font-style: bold;
    font-size: 20;
    color: black;
}

^Entry {
    font-size: 30;
    background-color: white;
    margin: 10 0;
    color: black;
}

^Button {
    font-size: 30;
    color: black;
    margin: 5 0;
    background-color: yellowgreen;
    border-radius: 30;
}