


^Label {
    text-align: left;
    font-style: bold;
    font-size: 20;
    color: lightgrey;
}

^Entry {
    font-size: 30;
    background-color: white;
    margin: 10 0;
    color: white;
}

^Button {
    font-size: 30;
    color: black;
    margin: 5 0;
    background-color: lightblue;
    border-radius: 30;
}